@using WordCounter.Models;

<h1>Word Counter</h1>

<ol style="list-style-type:none;">
@foreach (Word word in Model)
{
    <br/><li><strong>Word:</strong>  @word.GetWordInput()</li>
    <li><strong>Sentence:</strong> @word.GetSentenceInput()</li>
    <li><strong>Count:</strong> @word.GetWordCount()</li><br/>
}
</ol>

<a href="/word/new">Count more words in sentences</a>
