@using WordCounter.Models;

<h1>Word Counter</h1>

<ol>
@foreach (Word word in Model)
{
    <li>"Word:" @word.GetWordInput()</li>
    <li>"Sentence:" @word.GetSentenceInput()</li>
    <li>"Count:" @word.GetWordCount()</li>
}
</ol>
