@using WordCounter.Models;

<h1>Word Counter</h1>

<ol>
@foreach (Word word in Model)
{
    <li>@word.GetWordInput()</li>
    <li>@word.GetSentenceInput()</li>
    <li>@word.GetWordCount()</li>
}
</ol>
