<h1>Word Counter</h1>

<form action="/word" method="post">
    <label for="wordInput">Word</label>
    <input id="wordInput" name="wordInput" type="text">
    <label for="sentenceInput">Sentence</label>
    <input id="sentenceInput" name="sentenceInput" type="text">

    <button type="submit">Submit</button>

</form>