<h1>Word Counter</h1>

<form action="/words" method="post">
    <label for="word">Word</label>
    <input id="word" name="word" type="text">
    <label for="sentence">Sentence</label>
    <input id="sentence" name="sentence" type="text">

    <button type="submit">Submit</button>

</form>